h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Satisfy", sans-serif; /*これが Google フォントから取得した残りの出力になるはず。*/
}

p,li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  font-family: "Times New Roman", sans-serif;
}

html {
  font-size: 10px; /* px は「ピクセル」 (pixels) の意味。ベースフォントサイズは 10 ピクセルの高さになった */
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 2px rgb(71, 141, 145);
}

img {
  display: block;
  margin: 0 auto;
}